body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    color: #333;
}

footer {
    margin-top: 20px;
    background-color: #343a40;
    color: #fff;
    font-size: 0.9rem;
}
